* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #B3C7E6;
    font-family: Verdana, Arial, sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "navigation main main"
        "footer footer footer "
}

.header {
    grid-area: header;
    background-color: #869DC7;
    color: #00005D;
    font-size: 1.2rem;
    padding: 1rem;
    min-height: 135px;
    background-image: url(../images/download.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

}

.navigation {
    grid-area: navigation;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-right: 0%;
}

.main {
    grid-area: main;
}

.mainimg {
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.content {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;


}

.footer {
    grid-area: footer;
    font-size: 70%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #869DC7;
    margin: 0%;

}

h2 {
    color: #869DC7;
    font-family: arial, verdana, sans-serif;
}


ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a:link {
    text-decoration: none;
    padding: 20px;
    background-color: rgb(218, 160, 179);
    border-bottom: 1px solid white;
    display: block;
}

nav a:link {
    color: #FFFFFF;
}


nav a:hover {
    color: #869DC7;
    background-color: #EAEAEA;
}

h6 {
    text-align: right;
}

@media (1023px > width > 768px) {

    .grid_container2 {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: auto;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 2fr 2fr 4fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            "navigation navigation navigation"
            "main main main"
            "footer footer footer "
    }
}

@media (width < 767px) {
    .grid_container2 {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 4, 1fr;
        grid-template-areas:
            "home"
            "menu"
            "direction"
            "contact"
    }

    .grid_container {
        display: grid;
        grid-template-columns: 2fr 2fr 4fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            "navigation navigation navigation"
            "main main main"
            "footer footer footer "
    }
}